---
import Grid from '../components/Grid.astro'
import bloc01 from '../images/bloc01.jpeg'
import bloc02 from '../images/bloc02.jpeg'
import bloc03 from '../images/bloc03.jpeg'
import bloc04 from '../images/bloc04.jpeg'
import WhatsAppButton from '../images/WhatsAppButton.svg'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Blocuri Beton - Acasă'>
	<main
		class='flex flex-col justify-between gap-10 mt-28 mb-6 md:mt-12 md:mb-10'
	>
		<p class='font-semibold text-xl'>
			O soluție simplă, funcțională și adaptabilă pentru construcțiile modulare
			flexibile temporare sau permanente.
		</p>
		<a
			href='/galerie'
			class='hover:bg-neutral-600 bg-neutral-900 block rounded-md p-2 text-center text-white'
			><button>Vedeți galerie &#8594;</button></a
		>
		<Grid
			columns='md:grid-cols-4'
			titleColumns='md:col-span-4 col-span-2 '
			title={'Dimensiuni:'}
			content={[
				{ text: '160 x 80 x 80' },
				{ text: '80 x 80 x 80' },
				{ text: '160 x 40 x 40' },
				{ text: '40 x 40 x 40' }
			]}
			image={bloc01}
		/>
		<Grid
			columns='md:grid-cols-4 lg:grid-cols-8'
			titleColumns='col-span-2 md:col-span-4 lg:col-span-8'
			title={'Puteți crea:'}
			content={[
				{ text: 'Pereți de sprijin' },
				{ text: 'Pereți despărțitori' },
				{ text: 'Ziduri de reținere' },
				{ text: 'Baricade de siguranță' },
				{ text: 'Protecții mal' },
				{ text: 'Căi navigabile' },
				{ text: 'Buncăre' },
				{ text: 'Construcții de gard' },
				{
					text: 'Padocuri pentru depozitarea materialelor vrac uscate: aggregate(nisip, pietriș sau piatră spartă), deșeuri sau materiale reciclabile, materiale agrircole(fertilizanti sau grâne), lemn, sare, etc',
					style: 'col-span-2 md:col-span-4 lg:col-span-8'
				}
			]}
			image={bloc02}
		/>
		<Grid
			columns='md:grid-cols-3'
			titleColumns='col-span-2 md:col-span-3'
			title={'Avantajele blocurilor de beton interblocabile sunt:'}
			content={[
				{ text: 'Durabilitate' },
				{ text: 'Rentabilitate' },
				{ text: 'Reutizabilitate' },
				{ text: 'Instalare rapidă' },
				{ text: 'Îmbinare și aliniere ușoară' },
				{ text: 'Nu necesită fundație' },
				{
					text: 'Construcția este gata de utilizare în câteva ore',
					style: 'col-span-2 md:col-span-1'
				},
				{
					text: 'Configurația poate fi modificată prin adăugarea sau eliminarea blocurilor de beton pe înălțime sau lungime',
					style: 'col-span-2 md:col-span-2'
				}
			]}
			image={bloc03}
		/>
		<Grid
			columns='md:grid-cols-4'
			titleColumns='col-span-2 md:col-span-4'
			title={'Pot fi:'}
			content={[
				{ text: 'Modificate, extinse sau relocate complet' },
				{ text: 'Folosite în zone industriale precum terminale portuare' },
				{
					text: 'Soluția ideală ca și bariere de incendiu pentru materiale inflamabile sau materiale periculoase'
				},
				{
					text: 'Utilizate pentru a controla, reduce sau preveni efectele dăunătoare a creșterii nivelului apei'
				},
				{
					text: 'Folosite ca blocaje rutiere, pentru gestionarea temporară sau permanentă a traficului',
					style: 'col-span-2 md:col-span-1'
				},
				{
					text: 'Soluția perfectă pentru o structura stabilă, cu pereți duri care rezistă la încărcarea materialelor din siloz pe perioada depozitării sau în timpulincarcarii sau descărcării materialului',
					style: ' col-span-2 md:col-span-3'
				}
			]}
		/>
		<section class='sticky bottom-4 ml-auto drop-shadow-lg -mr-2'>
			<a href='https://wa.me/774958379'>
				<img src={WhatsAppButton} alt='Chat on Whatsapp Icon' />
			</a>
		</section>
	</main>
</Layout>
