<ul class='grid grid-cols-2 gap-1 md:gap-2 md:grid-cols-3'>
	<div class='text-xl font-bold col-span-2 md:col-span-3'>
		Avantajele blocurilor de beton interblocabile sunt:
	</div>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 text-center hover:bg-neutral-300'
	>
		Durabilitate
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 text-center hover:bg-neutral-300'
	>
		Rentabilitate
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 text-center hover:bg-neutral-300'
	>
		Reutizabilitate
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 text-center hover:bg-neutral-300'
	>
		Instalare rapida
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 text-center hover:bg-neutral-300'
	>
		Imbinare si aliniere usoara
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 text-center hover:bg-neutral-300'
	>
		Nu necesita fundatie
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 text-center hover:bg-neutral-300 col-span-2 md:col-span-1'
	>
		Constructia este gata de utilizare in cateva ore
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 text-center hover:bg-neutral-300 col-span-2 md:col-span-2'
	>
		Configuratia poate fi modificata prin adaugarea sau eliminarea blocurilor de
		beton pe inaltime sau lungime
	</li>
</ul>
