<ul class='grid grid-cols-2 md:grid-cols-4 gap-1 md:gap-2'>
	<div class='text-xl font-bold col-span-2 md:col-span-4'>Pot fi:</div>
	<li
		class='bg-neutral-200 rounded-lg p-2 hover:bg-neutral-300 text-center'
	>
		modificate, extinse sau relocate complet.
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-2 hover:bg-neutral-300 text-center'
	>
		folosite in zone industriale precum terminale portuare.
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-2 hover:bg-neutral-300 text-center'
	>
		solutia ideala ca si bariere de incendiu pentru materiale inflamabile sau
		materiale periculoase.
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-2 hover:bg-neutral-300 text-center'
	>
		utilizate pentru a controla, reduce sau preveni efectele daunatoare a
		cresterii nivelului apei.
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-2 hover:bg-neutral-300 text-center col-span-2 md:col-span-1'
	>
		folosite ca blocaje rutiere, pentru gestionarea temporara sau permanenta a
		traficului.
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-2 hover:bg-neutral-300 text-center col-span-2 md:col-span-3'
	>
		solutia perfecta pentru o structura stabila, cu pereti duri care rezista la
		incarcarea materialelor din siloz pe perioada depozitarii sau in timpul
		incarcarii sau descarcarii materialului.
	</li>
</ul>
