---
const dimensiuni = [
	'1600 x 80 x 80',
	'80 x 80 x 80',
	'1600 x 40 x 40',
	'40 x 40 x 40'
]
---

<ul class='grid grid-cols-2 gap-2 md:gap-3 md:grid-cols-4'>
	<div class='text-xl font-bold col-span-2 md:col-span-4'>Dimensiuni:</div>
	{
		dimensiuni.map((a) => (
			<li class='bg-neutral-900 text-white rounded-lg p-2 text-center'>{a}</li>
		))
	}
</ul>
