<ul class='grid grid-cols-2 md:grid-cols-4 gap-1 md:gap-2'>
	<div class='text-xl font-bold col-span-2 md:col-span-4'>Dimensiuni:</div>
	<li class='bg-neutral-900 text-white rounded-lg p-1 text-center'>
		1600 x 80 x 80
	</li>
	<li class='bg-neutral-900 text-white rounded-lg p-1 text-center'>
		80 x 80 x 80
	</li>
	<li class='bg-neutral-900 text-white rounded-lg p-1 text-center'>
		1600 x 40 x 40
	</li>
	<li class='bg-neutral-900 text-white rounded-lg p-1 text-center'>
		40 x 40 x 40
	</li>
</ul>
