<header class='w-full bg-white drop-shadow-md fixed top-0 left-0 right-0'>
	<nav class='flex justify-between items-center p-4 max-w-6xl mx-auto'>
		<div>
			<a href='/' class='text-4xl font-semibold'
				>Blocuri
				<span
					class='text-transparent bg-clip-text bg-gradient-to-r from-neutral-800 to-emerald-400'
					>Beton</span
				>
			</a>
		</div>
		<ul class='flex gap-4 items-end h-full text-2xl pl-12 font-medium'>
			<li class='relative'>
				<a
					class="after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-px after:bg-black after: transition-all after:duration-300 after:btn-transition after:-scale-x-0 hover:after:scale-100"
					href='/'>Acasă</a
				>
			</li>
			<li class='relative'>
				<a
					class="after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-px after:bg-black after: transition-all after:duration-300 after:btn-transition after:-scale-x-0 hover:after:scale-100"
					href='/contact'>Contact</a
				>
			</li>
		</ul>
	</nav>
</header>
