<ul class='grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-1 md:gap-2'>
	<div class='text-xl font-bold col-span-2 md:col-span-4 lg:col-span-8'>
		Puteti crea:
	</div>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 hover:bg-neutral-300 text-center'
	>
		Pereti de sprijin
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 hover:bg-neutral-300 text-center'
	>
		Pereti despartitori
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 hover:bg-neutral-300 text-center'
	>
		Ziduri de retinere
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 hover:bg-neutral-300 text-center'
	>
		Baricade de siguranta
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 hover:bg-neutral-300 text-center'
	>
		Protectii mal
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 hover:bg-neutral-300 text-center'
	>
		Cai navigabile
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 hover:bg-neutral-300 text-center'
	>
		Buncare
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 hover:bg-neutral-300 text-center'
	>
		Constructii de gard
	</li>
	<li
		class='bg-neutral-200 rounded-lg p-1 md:p-2 hover:bg-neutral-300 text-center col-span-2 md:col-span-4 lg:col-span-8'
	>
		Padocuri pentru depozitarea materialelor vrac uscate: aggregate(nisip,
		pietris sau piatra sparta), deseuri sau materiale reciclabile, materiale
		agricole(fertilizanti sau grane), lemn, sare, etc
	</li>
</ul>
